.center {
    display:flex;
    flex-direction: column;
    align-items: center;
}

.row {
    display:flex;
    justify-content: center;
}

.cell {
    display:flex;
    border-style: solid;
    padding: 10px;
    width: 100px;
    justify-content: center;
    align-items: center;
    margin:0;
}

.footer {
    flex-direction: column;
    width:125px;
}

.footer p{
    margin:5px;
}

 
.submit{
    padding:10px
}
